.container {
    max-width: 100%;
}

.navbar-header {
    color: #ffffff;
}

h4 {
    color: whitesmoke;
}

/* .sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    margin-top: 62px;
    height: 100vh;
    background: whitesmoke;
    color: black;
    transition: all 0.3s;
} */

.list-group {
    width: 100%;
}